//GENERAL STYLING COLOURS
$body-background: #FCFCFC;
$section-background: #F0F5FF;
$button-colour: #E7A8E6;
$button-hover-colour: #eb85e9;
$mobile-nav-background: #232323;
$footer-background: #1F2022;
$footer-copyright: #D8D8D8;

//BASE STYLES AND STYLE STRIPPING
html {
    font-size: 125%;
}

body {
    background-color: $body-background;
}

section {
    padding: 85px 0;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
    font-weight: 700;
}

a:hover,
a:focus {
    font-weight: 200;
}

button, 
.button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: $button-colour;
}

button:hover, 
button:focus {
    background-color: $button-hover-colour;
}

.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}