.behind-lens {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.behind-lens-img {
    min-width: 35%;
}

.behind-lens-content {
    min-width: 60%;
    padding-left: 30px;
}