.blog-posts {
    background-color: $sectionBackground;
    padding: 0;
}

.blog-posts div {
   max-width: 50%;
}

.post {
    display: flex;
    align-items: center;
}

.post1 {
    flex-direction: row-reverse;
    text-align: right;
}

.post-content {
    padding: 60px;
    max-width: 35%;
}


