footer {
    background-color: $footer-background;
    color: $secondary-text-colour;
}

footer h4 {
    text-transform: uppercase;
    font-size: $h4-font-size;
    margin: 2px;
}

footer p {
    background-color: $primary-text-colour;
    margin: 0;
    padding: 5px;
    text-align: center;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    font-family: $body-font;
}

.footer-contact, 
.footer-links {
    line-height: 29px;
}

.footer-links {
    text-transform: uppercase;
    text-align: right;
}

.form-container {
    min-width: 50%;
}

label {
    display: block;
    padding: 5px;
}

.email {
    width: 70%;
    // position: absolute;
    // padding: 10px 225px 10px 25px;
}

// .subscribe {
//     position: relative;
//     left: 0;
//     margin-left: 0;
//     width: 35%;
//     display: inline;
// }
