header {
    min-height: 100vh;
    background-image: url(../assets/asset-1.jpg);
    background-size: cover;
}

label[for="hamburger"] {
    display: none;
}

input[type="checkbox"] {
    display: none;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.header-nav ul {
    display: flex;
    justify-content: space-between;
}

.header-nav a {
    padding: 10px 10px 3px;
}
