.main-nav {
    background-image: url(../assets/asset-5.jpg);
    background-size: cover;
    background-position: center;
}

.main-nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 100px;
}

.nav-icon {
    text-align: center;
    padding: 20px;
}