@media (max-width: 800px) {
    //hamburger nav

    .mobile-hide {
        display: none;
    }

    //Gallery Section

    .gallery-section {
        padding: 0;
    }

    .gallery {
        width: 100%;
    }

    .mobile-hide {
        display: none;
    }

    .gallery li {
        width: 50%;
    }

    //Main Nav Section

    .main-nav {
        background-image: none;
        background-color: $mobile-nav-background;
    }

    //Behind the Lens Section

    .behind-lens {
        flex-direction: column;
    }

    .behind-lens-img, 
    .behind-lens-content {
        text-align: center;
        padding: 10px 20px;
    }

    //Blog Section

    .post {
        flex-direction: column;
        text-align: center;
    }

    .blog-posts div {
        min-width: 100%;
    }

    //Footer Section

    .footer-flex {
        flex-wrap: wrap;
    }

    .form-container {
        width: 100%;
        order: -1;
        text-align: center;
    }

    .footer-contact, 
    .footer-links {
        width: 50%;
        text-align: center;
    }

}