@media (max-width: 800px) {
   
    //Header & Hamburger Nav

    .nav-contents {
        display: none;
    }

    .nav-contents ul {
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        border: 2px solid white;
        padding: 10px;
        text-align: right;
    }

    label[for="hamburger"] {
        display: inline-block;
        padding: 10px;
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]:checked + .nav-contents {
        display: inline-block;
    }

    h1 {
        font-size: 5rem;
    }

    span {
        font-size: 1.5rem;
    }

    //About Section

    .about-info {
        width: 80%;
    }

    //Gallery Section

    .gallery-section {
        padding: 0;
    }

    .gallery {
        width: 100%;
    }

    .mobile-hide {
        display: none;
    }

    .gallery li {
        width: 50%;
    }

    //Main Nav Section

    .main-nav {
        background-image: none;
        background-color: $mobile-nav-background;
    }

    //Behind the Lens Section

    .behind-lens {
        flex-direction: column;
    }

    .behind-lens-img, 
    .behind-lens-content {
        text-align: center;
        padding: 10px 20px;
    }

    //Blog Section

    .post {
        flex-direction: column;
        text-align: center;
    }

    .blog-posts div {
        min-width: 100%;
    }

    //Footer Section

    .footer-flex {
        flex-wrap: wrap;
    }

    .form-container {
        width: 100%;
        order: -1;
        text-align: center;
    }

    label {
        margin-bottom: 20px;
    }

    .email,
    .subscribe {
        width: 100%;
    }

    .footer-contact, 
    .footer-links {
        width: 50%;
        text-align: center;
        margin-top: 20px;
    }

}