@media (max-width: 800px) {
    //hamburger nav


    //Gallery Section

    .gallery-section {
        padding: 0;
    }

    .mobile-hide {
        display: none;
    }

    .gallery li {
        width: 50%;
    }

    //Main Nav Section

    .main-nav {
        background-image: none;
        background-color: $mobileNavBackground;
    }

    //Behind the Lens Section

    .behind-lens {
        flex-direction: column;
    }

    .behind-lens-img, 
    .behind-lens-content {
        text-align: center;
        padding: 10px 20px;
    }

    //Blog Section

    .post {
        flex-direction: column;
        text-align: center;
    }

    .blog-posts div {
        min-width: 100%;
    }

}