
//FONTS
$heading-font: 'Playfair Display', serif;
$body-font: 'Lato', sans-serif;

//COLOURS
$primary-text-colour: #000000;
$secondary-text-colour: #FCFCFC;

//FONT SIZES
$base-font-size: 1rem;
$header-font-size: 2.1rem;
$h1-font-size: 6rem;
$h2-font-size: 1.9rem;
$h3-font-size: 1.7rem;
$h4-font-size: 1.25rem;

//TYPOGRAPHY STYLING
header {
    color: $secondary-text-colour;
}

.logo {
    font-family: $heading-font;
    font-size: $h2-font-size;
}

.header-nav ul {
    font-family: $body-font;
    font-size: $base-font-size;
    line-height: 29px;
    text-transform: uppercase;
}

h1 {
    font-family: $heading-font;
    font-size: $h1-font-size;
    line-height: 63px;
    text-align: center;
    margin-top: 3em;
}

span {
    display: block;
    font-family: $body-font;
    font-size: $h2-font-size;
    text-transform: uppercase;
}

h2, 
h3 {
    font-family: $heading-font;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

p {
    font-family: $body-font;
    font-size: $base-font-size;
    line-height: 29px;
}

a {
    font-weight: 700;
}

.button {
    font-family: $body-font;
    font-size: $base-font-size;
    font-weight: bold;
    line-height: 29px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.main-nav ul {
    color: $secondary-text-colour;
}
