
//FONTS
$headingFont: 'Playfair Display', serif;
$bodyFont: 'Lato', sans-serif;

//COLOURS
$primaryTextColour: #000000;
$secondaryTextColour: #FCFCFC;

//FONT SIZES
$baseFontSize: 1rem;
$headerFontSize: 2.1rem;
$h1FontSize: 6rem;
$h2FontSize: 1.9rem;
$h3FontSize: 1.7rem;

//TYPOGRAPHY STYLING
header {
    color: $secondaryTextColour;
}

.logo {
    font-family: $headingFont;
    font-size: $h2FontSize;
}

.header-nav ul {
    font-family: $bodyFont;
    font-size: $baseFontSize;
    line-height: 29px;
    text-transform: uppercase;
}

h1 {
    font-family: $headingFont;
    font-size: $h1FontSize;
    line-height: 63px;
}

span {
    font-family: $bodyFont;
    font-size: $h2FontSize;
    text-transform: uppercase;
}

h2, 
h3 {
    font-family: $headingFont;
}

h2 {
    font-size: $h2FontSize;
}

h3 {
    font-size: $h3FontSize;
}

p {
    font-family: $bodyFont;
    font-size: $baseFontSize;
    line-height: 29px;
}

button {
    font-family: $bodyFont;
    font-size: $baseFontSize;
    font-weight: bold;
    line-height: 29px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
